DB_HOST=187.127.181.189
DB_PORT=5432
DB_USER=postgres.default
DB_PASSWORD=changeme
DB_NAME=postgres

UNICOMMERCE_BASE_URL=https://jainam.unicommerce.com
UNICOMMERCE_CLIENT_ID=my-trusted-client
UNICOMMERCE_USERNAME=your-unicommerce-username
UNICOMMERCE_PASSWORD=your-unicommerce-password
UNICOMMERCE_FACILITIES=MYNTRAPPMP_NEW1

FETCH_INTERVAL_MINUTES=30
CORS_ORIGINS=http://localhost:5173
